.body,
html {
  padding: 0px;
  margin: 0px;
}

main {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.lhs {
  width: 40%;
}

.rhs thead {
  text-align: center;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 30px;
}

.pick:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.rhs td {
  border: 1px solid black;
}

span {
  position: absolute;
}

.t {
  color: bisque;
}

p {
  margin: 0px;
  padding: 0px;
}

.booked {
  background-color: #5650a7;
  color: white;
  text-align: center;
}

header {
  padding: 70px 0 50px;
  background-color: #5650a7;
  color: white;
}

.hide {
  display: none;
}

@media (max-width: 1240px) {
  main {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .rhs {
    margin-top: 50px;
  }

  .lhs {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .lhs {
    width: 90%;
  }

  .rhs {
    width: 100%;
  }
}
